.wrapper {
    width: 60%;
    margin: auto;
    position: relative;
}
.content {
    margin-top: 81px;
    > div {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}
