{% load staticfiles %}
<html>
<head>
<link href="{% static 'assets/css/main.min.css' %}" rel="stylesheet" type="text/css">
{% block extra_head %}
{% endblock %}
{% block title %}
{% endblock %}
</head>
<body>
<div class="navbar-header navbar-fixed-top">
    <div class="wrapper">
        <div class="docs-logo"><span class="logo">LOGO</span></div>
        <div class="nav-menu-bar">
            <ul class="nav-menu-horizontal">
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
                <li>Link 5</li>
            </ul>
        </div>
        <div class="social-icons">
            Social Icons
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>

        {% block content %}
        {% endblock content %}
    </div>
</div>
</body>
</html>
